.articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media screen and (min-width: 600px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.articles > article {
  background: #fff;
  padding: 16px;
}
