.footer-container {
  background-color: var(--dark-color);
  color: #fff;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}

@media screen and (min-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer-container img {
  width: 150px;
}

.footer-container a {
  color: #fff;
}

.footer-container a:hover {
  color: red;
}

.footer-container input[type="email"] {
  padding: 8px;
  margin-bottom: 8px;
}
